<h1 style="text-align: center; font-family: 'Roboto Slab';">TO-DO LIST</h1>
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
      <div class="input-group mb-5">
        <input type="text" class="form-control" placeholder="Agregar tarea..." aria-label="Agregar tarea..." aria-describedby="button-addon2" [(ngModel)]="nuevoTodo">       
        <input style="color: rgb(0, 20, 9);" class="btn btn" type="submit" value="Agregar" id="button-addon2" (event.key) ="saveTodo()" (click) ="saveTodo()">
      </div>
  
      <table class="table table-striped">  
        <tbody>
          <tr *ngFor="let todo of todos;let i = index;">
            <th style="font-size: smaller; text-align: center;" scope="row">{{i+1}}</th>
            <td class = "texto" class="{{(!todo.completado)? 'realizado': ''}}" (click)="realizado(i)">{{todo.nombre}}</td>
            <td class="cursor"  style="color:rgb(226, 43, 43);" (click)="borrar(i)">X</td>
          </tr>
        </tbody>
      </table>
  
  </div>
</div>